<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_dashboard.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Admin Dashboard</title>
</head>
<body class="bg-secondary bg-opacity-10">
<main>

<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark fixed-top" style="width: 240px ;height:100vh;">
    <a href="/" class="text-center text-decoration-none">
    <span class="fs-4">Medicallo</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto align-items-center gap-2">
    <li class="nav-item" onmouseover="over(this)" onmouseout="out(this)">
        <a href="#hospital" class="nav-link text-white" aria-current="page">
        <strong>Hospitals</strong> 
        </a>
    </li>
    <li class="nav-item" onmouseover="over(this)" onmouseout="out(this)">
        <a href="#doctor" class="nav-link  text-white">
        <strong>Doctors</strong>
        </a>
    </li>
    <li class="nav-item" onmouseover="over(this)" onmouseout="out(this)">
        <a href="#card" class="nav-link text-white">
        <strong>Cards</strong>
        </a>
    </li>
    <li class="nav-item" onmouseover="over(this)" onmouseout="out(this)">
        <a href="#category" class="nav-link text-white">
        <strong>Categories</strong>
        </a>
    </li>
    <li class="nav-item" onmouseover="over(this)" onmouseout="out(this)">
        <a href="#disease" class="nav-link text-white">
        <strong>Diseases</strong>
        </a>
    </li>
    </ul>
    <hr>
    
    <a href="#list" class="logout d-flex align-items-center text-white text-decoration-none justify-content-center">
        <img src="{{ url_for('static', filename='images/admin.svg') }}" alt="admin" width="32" height="32" class="rounded-circle me-2">
        <strong>Logout</strong>
    </a>
</div>
<!-- Hospital Table -->
<div id="hospital" class="container mb-5" style="height: 100vh; margin-right: 10rem;">
    <div class="d-flex justify-content-between align-items-center" >
        <h1 class="mb-4"><em>Hospitals table</em></h1>
    <div class="openBtn">
        <button onclick="openForm()" class="openButton btn btn-success">Add New Hospital</button>
        
    </div>
    </div>
    <table class="table text-center">
        <thead class="table-dark">
            <tr>

                <th>Name</th>
                <th>Photo</th>
                <th>Location</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for hospital in hospitals %}
            <tr>
                <td>{{hospital.name}}</td>
                <td ><img style="width: 40px;height: 40px;" src="../static/images/{{hospital.photo}}" alt="hospital photo"> </td>
                <td>{{hospital.location}}</td>
                <td><a href="/hospital/edit/{{hospital.id}}"><button onclick="openEdit()" type="button" class="btn btn-warning">Edit</button></a></td>
                <td><a href="/hospital/delete/{{hospital.id}}"><button type="button" class="btn btn-dark">Delete</button></a></td>
            </tr>
            {% endfor %}
        
        </tbody>
    </table>
</div>
<!-- Hospital POP-UP -->

<!-- CREATE -->
<div class="loginPopup">
    <div class="formPopup" id="popupForm"  data-role="popup" data-position-to="window">
        <form class="formContainer" action="/hospital" method="post">
            <div class="mb-3">
                <label for="Name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="Name" name="name" >
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Photo Link</span>
                <input  class="form-control" name="photo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="mb-3">
                <label for="Location" class="form-label">Location:</label>
                <input type="text" class="form-control" id="Location" name="location">
            </div>
        <button type="submit" class="btn btn-primary add" onclick="closeForm()">ADD</button>
        <input type="button" class="btn btn-primary mt-2" onclick="closeForm()" value="Cancel">
        
        </form>
    </div>
</div>

<!-- EDIT -->
<div class="loginPopup">
    <div class="formPopup" id="popupEdit"  data-role="popup" data-position-to="window">
        <form class="formContainer" action="/hospital/edit/{{hospitals.id}}" method="post">
            <div class="mb-3">
                <input type="hidden" value="">
                <label for="Name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="Name" name="name" >{{hospitals.name}}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Photo Link</span>
                <input  class="form-control" name="photo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="mb-3">
                <label for="Location" class="form-label">Location:</label>
                <input type="text" class="form-control" id="Location" name="location">{{hospitals.location}}
            </div>
        <button type="submit" class="btn btn-primary add" onclick="closeEdit()">Update</button>
        <input type="button" class="btn btn-primary mt-2" onclick="closeEdit()" value="Cancel">
        
        </form>
    </div>
</div>

<!-- Doctor Table -->
<div id="doctor" class="container mt-5" style="height: 100vh; margin-right: 10rem;">
    <div class="d-flex justify-content-between align-items-center" >
        <h1 class="mb-4"><em>Doctor table</em></h1>
        <div class="openBtn">
            <button onclick="openForm1()" class="openButton btn btn-success" >Add New Doctor</button>
        </div>
    </div>
    <table class="table text-center">
        <thead class="table-dark">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Photo</th>
        <th>Speciality</th>
        <th>Actions</th>
        <th>Delete</th>
        </thead>
        <tbody>
        <th>hi</th>
        </tbody>
    </table>
</div>
<!-- Doctor POP-UP -->
<div class="loginPopup">
    <div class="formPopup" id="popupForm1">
        <form class="formContainer" action="/doctor" method="post">
            <select name="doctor_id">
                {% for hospital in all_hospitals %}
                <option value={{hospital.id}}>{{hospital.name}}</option>
                {% endfor %}
            </select>
            <div class="mb-3">
                <label for="FirstalName" class="form-label">First Name:</label>
                <input type="text" class="form-control" id="FirstaName" name="first_name" >
            </div>
            <div class="mb-3">
                <label for="LastName" class="form-label">Last Name:</label>
                <input type="text" class="form-control" id="HospitalName" name="last_name">
            </div>
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02" name="photo">
                <label class="input-group-text" for="inputGroupFile02" >Upload</label>
            </div>
            <div class="mb-3">
                <label for="Speciality" class="form-label">Speciality</label>
                <input type="text" class="form-control" id="Speciality" name="speciality">
            </div>
        <button type="submit" class="btn btn-primary" onclick="closeForm1()">ADD</button>
        <button class="btn btn-primary" onclick="closeForm1()">Cancel</button>
        
        </form>

        
    </div>
</div>

<!-- Cards -->
<div id="card" class="container mt-5" style="height: 100vh; margin-right: 10rem;">
    <div class="card-group">
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    </div>
    <div class="openBtn">
        <button class="openButton my-5 btn btn-success" onclick="openForm2()">Add New Card</button>
    </div>
</div>
<!-- CARD POP-UP -->
<div class="loginPopup">
    <div class="formPopup" id="popupForm2">
        <form class="formContainer" action="/card" method="post">
            <div class="mb-3">
                <label for="Name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="Name" name="name" >
            </div>
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02" name="photo">
                <label class="input-group-text" for="inputGroupFile02" >Upload</label>
            </div>
        <button type="submit" class="btn btn-primary add" onclick="closeForm2()">ADD</button>
        <button class="btn btn-primary" onclick="closeForm2()">Cancel</button>
        
        </form>
    </div>
</div>
<!-- category Table -->
<div id="category" class="container mt-5" style="height: 100vh; margin-right: 10rem;">
    <div class="d-flex justify-content-between align-items-center gap-5" >
        <h1 class="mb-4"><em>Category</em></h1>
        <div class="openBtn">
            <button class="openButton btn btn-success" onclick="openForm3()">Add New Category</button>
        </div>
    </div>
    <div class="d-flex align-items-center gap-5 mb-5">
        <label for="select"><strong>Card:</strong></label>
        <select class="form-select" aria-label="Default select example">
            <option selected>Which card</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <table class="table text-center">
        <thead class="table-dark">
        <th>Card</th>
        <th>Name</th>
        <th>Actions</th>
        <th>Delete</th>
        </thead>
        <tbody>
        <th>hi</th>
        </tbody>
    </table>
</div>
<!-- CATEGORY POP-UP -->
<div class="loginPopup">
    <div class="formPopup" id="popupForm3">
        <select name="doctor_id">
            {% for card in all_cards %}
            <option value={{card.id}}>{{card.name}}</option>
            {% endfor %}
        </select>
        <form class="formContainer" action="/hospital" method="post">
            <div class="mb-3">
                <label for="Name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="Name" name="name" >
            </div>
        <button type="submit" class="btn btn-primary add" onclick="closeForm3()">ADD</button>
        <button class="btn btn-primary" onclick="closeForm3()">Cancel</button>
        
        </form>
    </div>
</div>

<!-- Disease Table -->
<div id="disease" class="container mt-5" style="height: 100vh; margin-right: 10rem;">
    <div class="d-flex justify-content-between align-items-center" >
        <h1 class="mb-4"><em>Disease table</em></h1>
        <div class="openBtn">
            <button class="openButton btn btn-success" onclick="openForm4()">Add New Disease</button>
        </div>
    </div>
    <div class="d-flex align-items-center gap-5 mb-5">
        <label for="select"><strong>Card:</strong></label>
        <select class="form-select" aria-label="Default select example">
            <option selected>Which Card</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <label for="select"><strong>Catogory:</strong></label>
        <select class="form-select" aria-label="Default select example">
            <option selected>Which Catogory</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <table class="table text-center">
        <thead class="table-dark">
        <th>Name</th>
        <th>Comment</th>
        <th>Doctor</th>
        <th>Actions</th>
        <th>Delete</th>
        </thead>
        <tbody>
        <th>hi</th>
        </tbody>
    </table>
</div>
<!-- Disease POP-UP -->
<div class="loginPopup">
    <div class="formPopup" id="popupForm4">
        <form class="formContainer" action="/disease" method="post">
            <select name="doctor_id">
                {% for doctor in all_doctors %}
                <option value={{doctor.id}}>{{doctor.name}}</option>
                {% endfor %}
            </select>
            <select name="category_id">
                {% for category in all_categories %}
                <option value={{category.id}}>{{category.name}}</option>
                {% endfor %}
            </select>
            <div class="mb-3">
                <label for="Name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="Name" name="name" >
            </div>
            <div class="mb-3">
                <label for="Comment" class="form-label">Comment:</label>
                <input type="text" class="form-control" id="Comment" name="comment">
            </div>
        <button type="submit" class="btn btn-primary add" onclick="closeForm4()">ADD</button>
        <button class="btn btn-primary" onclick="closeForm4()">Cancel</button>
        
        </form>
    </div>
</div>

</main>


<script type="text/javascript" src="{{ url_for('static', filename='js/admin_dashboard.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

</body>
</html>