<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_dashboard.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Admin Dashboard</title>
</head>
<body class="bg-secondary bg-opacity-10">
<main>

<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark fixed-top" style="width: 240px ;height:100vh;">
    <a href="/" class="text-center text-decoration-none">
    <span class="fs-4">Medicallo</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto align-items-center gap-2">
    <li class="nav-item" onmouseover="over(this)" onmouseout="out(this)">
        <a href="#hospital" class="nav-link text-white" aria-current="page">
        <strong>Hospitals</strong> 
        </a>
    </li>
    <li class="nav-item" onmouseover="over(this)" onmouseout="out(this)">
        <a href="#doctor" class="nav-link  text-white">
        <strong>Doctors</strong>
        </a>
    </li>
    <li class="nav-item" onmouseover="over(this)" onmouseout="out(this)">
        <a href="#card" class="nav-link text-white">
        <strong>Cards</strong>
        </a>
    </li>
    <li class="nav-item" onmouseover="over(this)" onmouseout="out(this)">
        <a href="#category" class="nav-link text-white">
        <strong>Categories</strong>
        </a>
    </li>
    <li class="nav-item" onmouseover="over(this)" onmouseout="out(this)">
        <a href="#disease" class="nav-link text-white">
        <strong>Diseases</strong>
        </a>
    </li>
    </ul>
    <hr>
    
    <a href="#list" class="logout d-flex align-items-center text-white text-decoration-none justify-content-center">
        <img src="{{ url_for('static', filename='images/admin.svg') }}" alt="admin" width="32" height="32" class="rounded-circle me-2">
        <strong>Logout</strong>
    </a>
</div>
<!-- Hospital Table -->
<div id="hospital" class="container mb-5" style="height: 100vh; margin-right: 10rem;">
    <div class="d-flex justify-content-between align-items-center" >
        <h1 class="mb-4"><em>Hospitals table</em></h1>
    <div class="openBtn">
        <button onclick="openForm()" class="openButton btn btn-success">Add New Hospital</button>
        
    </div>
    </div>
    <table class="table text-center">
        <thead class="table-dark">
            <tr>

                <th>Name</th>
                <th>Photo</th>
                <th>Location</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for hospital in hospitals %}
            <tr>
                <td>{{hospital.name}}</td>
                <td ><img style="width: 40px;height: 40px;" src="../static/images/{{hospital.photo}}" alt="hospital photo"> </td>
                <td>{{hospital.location}}</td>
                <td><a href="/hospital/edit/{{hospital.id}}"><button type="button" class="btn btn-success">Edit</button></a></td>
                <td><a href="/hospital/delete/{{hospital.id}}"><button type="button" class="btn btn-danger">Delete</button></a></td>
            </tr>
            {% endfor %}
        
        </tbody>
    </table>
</div>
<!-- Hospital POP-UP -->

<div class="loginPopup">
    <div class="formPopup" id="popupForm"  data-role="popup" data-position-to="window">
        <form class="formContainer" action="/hospital" method="post">
            <div class="mb-3">
                <label for="Name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="Name" name="name" >
            </div>
            <div class="mb-3">
                <label for="formFileSm" class="form-label">Photo Link</label>
                <input class="form-control form-control-sm" name="photo" id="formFileSm" type="file">
            </div>
            <div class="mb-3">
                <label for="Location" class="form-label">Location:</label>
                <input type="text" class="form-control" id="Location" name="location">
            </div>
        <button type="submit" class="btn btn-primary add" onclick="closeForm()">ADD</button>
        <input type="button" class="btn btn-primary mt-2" onclick="closeForm()" value="Cancel">
        
        </form>
    </div>
</div>


<!-- Doctor Table -->
<div id="doctor" class="container mt-5" style="height: 100vh; margin-right: 10rem;">
    <div class="d-flex justify-content-between align-items-center" >
        <h1 class="mb-4"><em>Doctor table</em></h1>
        <div class="openBtn">
            <button onclick="openForm1()" class="openButton btn btn-success" >Add New Doctor</button>
        </div>
    </div>
    <form action="/doctor_table" method="post">
        <div class="d-flex align-items-center gap-5 mb-5">
            <label for="select"><strong>Hospital:</strong></label>
            <select id="hospital" name="hospital_id">
                {% for hospital in hospitals %}
                <option value={{hospital.id}}>{{hospital.name}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Select" class="btn btn-primary">
        </div>
    </form>
    <table class="table text-center">
        <thead class="table-dark">
            <th>Hospital Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Speciality</th>
            <th>Actions</th>
            <th>Delete</th>
        </thead>
        <tbody>
            
            {% for doctor in doctors %}
            <tr>
                <td>{{session['hospital_name']}}</td>
                <td>{{doctor.first_name}}</td>
                <td>{{doctor.last_name}}</td>
                <td>{{doctor.speciality}}</td>
                
                <td><a href="/doctor/edit/{{doctor.id}}"><button type="button" class="btn btn-success">Edit</button></a></td>
                <td><a href="/doctor/delete/{{doctor.id}}"><button type="button" class="btn btn-danger">Delete</button></a></td>
            </tr>
            
            {% endfor %}

        </tbody>
    </table>
</div>
<!-- Doctor POP-UP -->
<div class="loginPopup">
    <div class="formPopup" id="popupForm1">
        <form class="formContainer" action="/doctor" method="post">
            <div class="mb-3">
            <label class="me-3" for="hospital">Name of The Hospital: </label>
            <select id="hospital" name="hospital_id">
                {% for hospital in hospitals %}
                <option value={{hospital.id}}>{{hospital.name}}</option>
                {% endfor %}
            </select>
            </div>
            <div class="mb-3">
                <label for="FirstalName" class="form-label">First Name:</label>
                <input type="text" class="form-control" id="FirstaName" name="first_name" >
            </div>
            <div class="mb-3">
                <label for="LastName" class="form-label">Last Name:</label>
                <input type="text" class="form-control" id="HospitalName" name="last_name">
            </div>
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02" name="photo">
                <label class="input-group-text" for="inputGroupFile02" >Upload</label>
            </div>
            <div class="mb-3">
                <label for="Speciality" class="form-label">Speciality</label>
                <input type="text" class="form-control" id="Speciality" name="speciality">
            </div>
            <div class="mb-3">
                <label for="about" class="form-label">About</label>
                <input type="text" class="form-control" id="about" name="about">
            </div>
            <button type="submit" class="btn btn-primary add" onclick="closeForm1()">ADD</button>
            <input type="button" class="btn btn-primary mt-2" onclick="closeForm1()" value="Cancel">
        
        </form>

        
    </div>
</div>

<!-- Cards -->
<div id="card" class="container  mt-5" style="height: 100vh; margin-right: 10rem;">
    <div class="openBtn d-flex justify-content-end">
        <button class="openButton my-5 btn btn-success" onclick="openForm2()">Add New Card</button>
    </div>
    <div class="card-group">
    {% for card in cards %}
    <div class="card">
        <img class="card-img-top" style="height: 150px;" src="{{ url_for('static', filename='images/' + card.photo) }}" alt="photo of the hospital">
        <div class="card-body">
        <h5 class="card-title">{{card.name}}</h5>
        </div>
        <div class="card-footer">

            <a href="/card/edit/{{card.id}}"><button class="btn btn-success">Edit</button></a>
            <a href="/card/delete/{{card.id}}"><button class="btn btn-danger">Delete</button></a>
        </div>
    </div>
    {% endfor %}
</div>
</div>
<!-- CARD POP-UP -->
<div class="loginPopup">
    <div class="formPopup" id="popupForm2">
        <form class="formContainer" action="/card" method="post">
            <div class="mb-3">
                <label for="Name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="Name" name="name" >
            </div>
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02" name="photo">
                <label class="input-group-text" for="inputGroupFile02" >Upload</label>
            </div>
        <button type="submit" class="btn btn-primary add" onclick="closeForm2()">ADD</button>
        <button class="btn btn-primary" onclick="closeForm2()">Cancel</button>
        
        </form>
    </div>
</div>
<!-- category Table -->
<div id="category" class="container mt-5" style="height: 100vh; margin-right: 10rem;">
    <div class="d-flex justify-content-between align-items-center gap-5" >
        <h1 class="mb-4"><em>Category</em></h1>
        <div class="openBtn">
            <button class="openButton btn btn-success" onclick="openForm3()">Add New Category</button>
        </div>
    </div>
    <form action="/category" method="post">
        <div class="d-flex align-items-center gap-5 mb-5">
            <label for="select"><strong>Card:</strong></label>
            <select id="card_id" name="card_id">
                {% for card in cards %}
                <option value={{card.id}}>{{card.name}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Select" class="btn btn-primary">
        </div>
    </form>
    <table class="table text-center">
        <thead class="table-dark">
        <th>Card Name</th>
        <th>Category Name</th>
        <th>Actions</th>
        <th>Delete</th>
        </thead>
        <tbody>
            {% for category in session['categories'] %}
            <tr>
                <td>{{session['card_name']}}</td>
                <td>{{category.name}}</td>
                <td><a href="/category/edit/{{category.id}}"><button type="button" class="btn btn-success">Edit</button></a></td>
                <td><a href="/category/delete/{{category.id}}"><button type="button" class="btn btn-danger">Delete</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- CATEGORY POP-UP -->
<div class="loginPopup">
    <div class="formPopup" id="popupForm3">
        
        <form class="formContainer" action="/category/popup" method="post">
        <div class="mb-3">
            <label class="me-3" for="select"><strong>Card:</strong></label>
        
        <select name="card_id">
            {% for card in cards %}
            <option value={{card.id}}>{{card.name}}</option>
            {% endfor %}
        </select>
        </div>
            <div class="mb-3">
                <label for="Name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="Name" name="name" >
            </div>
        <button type="submit" class="btn btn-primary add" onclick="closeForm3()">ADD</button>
        <button class="btn btn-primary" onclick="closeForm3()">Cancel</button>
        
        </form>
    </div>
</div>

<!-- Disease Table -->
<div id="disease" class="container mt-5" style="height: 100vh; margin-right: 10rem;">
    <div class="d-flex justify-content-between align-items-center" >
        <h1 class="mb-4"><em>Disease table</em></h1>
        <div class="openBtn">
            <button class="openButton btn btn-success" onclick="openForm4()">Add New Disease</button>
        </div>
    </div>
    <form action="/disease_table" method="post">
        <div class="d-flex  align-items-between gap-5 mb-5">
            <label for="select"><strong>Doctor:</strong></label>
            <select id="card_id" name="doctor_id">
                {% for doctor in doctors %}
                <option value={{doctor.id}}>{{doctor.first_name}} {{doctor.last_name}}</option>
                {% endfor %}
            </select>
            <label for="select"><strong>Catogory:</strong></label>
            <select id="category_id" name="category_id">
                {% for category in categories %}
                <option value={{category.id}}>{{category.name}}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Select" class="btn btn-primary">
        </div>
    </form>

    <table class="table text-center">
        <thead class="table-dark">
        <th>Name of disease</th>
        <th>Comment</th>
        <th>Doctor</th>
        <th>Edit</th>
        <th>Delete</th>
        </thead>
        <tbody>
            {% for disease in session['dieseases'] %}
            <tr>
                <td>{{disease.name}}</td>
                <td>{{disease.comment}}</td>
                <!-- <td>{{session['doctor.f']}}  {{session['doctor.l']}}</td> -->
                <td><a href="/disease/edit/{{disease.id}}"><button type="button" class="btn btn-success">Edit</button></a></td>
                <td><a href="/disease/delete/{{disease.id}}"><button type="button" class="btn btn-danger">Delete</button></a></td>
            
            </tr>
            {% endfor %}
        <th></th>
        </tbody>
    </table>
</div>
<!-- Disease POP-UP -->
<div class="loginPopup ">
    <div class="formPopup" id="popupForm4">
        <form class="formContainer" action="/disease" method="post">
            <div class="d-flex justify-content-between">
                <div class="mb-3">
                    <label><strong>Doctor:</strong></label>
                    <select name="doctor_id">
                        {% for doctor in doctors %}
                        <option value={{doctor.id}}>{{doctor.first_name}} {{doctor.last_name}}</option>
                        {% endfor %}
                    </select>
                    
                </div>
                <div class="mb-3">
                    <label><strong>Category:</strong></label>
                    <select name="category_id">
                        {% for category in categories %}
                        <option value={{category.id}}>{{category.name}}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>
            <div class="mb-3">
                <label for="Name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="Name" name="name" >
            </div>
            <div class="mb-3">
                <label for="Comment" class="form-label">Comment:</label>
                <input type="text" class="form-control" id="Comment" name="comment">
            </div>
        <button type="submit" class="btn btn-primary add" onclick="closeForm4()">ADD</button>
        <button class="btn btn-primary" onclick="closeForm4()">Cancel</button>
        
        </form>
    </div>
</div>

</main>


<script type="text/javascript" src="{{ url_for('static', filename='js/admin_dashboard.js') }}"></script>

</body>
</html>