<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>


</head>
<body >
    <div class="container backgroud-color theall">
        <nav class="navbar navbar-light bg-light d-flex justify-content-between">
    
    <a href=""><img class="logo" src="../static/images/logo.jpg" alt=""></a>
    <a class="btn btn-outline-primary"  href=""><h1> Logout</h1></a>
    
    
        </nav>
    <div class="container backgroud-color theall">
        <div class="seperator">
            <div class="decor">
            
                    <form class="form text-white" action="/region_body" method="post">
                        <div>
                            <label class="big" for="region">What is the nearest location to you?</label>

                            <select class="big form-select" aria-label="Default select example" name="hos_id" id="cars">
                            {% for hospital in hospitals %}
                            <option value="{{hospital.id}}">{{hospital.location}}</option>
                            {% endfor %}
                        
                            </select>
                        </div>
                        <div>
                            <label class="big" for="body_part">Tell us exactly what part of your body hurts?</label>
                        <select class="big form-select" aria-label="Default select example" id="cars" name="cat_id">
                            {% for category in categories %}
                            <option value="{{category.id}}">{{category.name}}</option>
                            {% endfor %}

                        </select>

                        </div>
                        <div>
                            <input class="big btn btn-success" type="submit" value="Submit">
                        </div>
                    </form>
                    <div id="symptoms">
                        <form action="/disease_diag" method="post">
                            <div>
                                <label class="big" for="symptoms">symptoms</label>
                            <select class="big form-select" aria-label="Default select example"  name="id" id="cars">
                                
                                {% for disease in session['diseases'] %}
                                <option value="{{disease.id}}">{{disease.name}}</option>
                                {% endfor %}
                                
                            </select>
                            </div>
                            <div>
                                <input class="big btn btn-success" type="submit" value="let's check">
                            </div>
                        </form>
            
                    </div>
                    
                    
                    
                    
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 72px"></textarea>
                        <label for="floatingTextarea2">Comments</label>
                    </div>
                    {% for disease in diseases %}
                    <p>{{disease.comment}}</p>
                    {% endfor %}
    
    
                    
                </div>
                
                <div class="slide">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../static/images/head 1.jpeg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="../static/images/head 2.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                    <img src="../static/images/head 3.jpg" class="d-block w-100" alt="...">
                </div>
                </div>
            </div>
                
            </div>
        </div>
        



</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/admin_dashboard.js') }}"></script>
</body>
</html>