<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="..\static\css\style2.css">

</head>
<body >
    <div class="container backgroud-color theall">
        <nav class="navbar navbar-light bg-light d-flex justify-content-between">
    
    <a href=""><img class="logo" src="../static/images/logo.jpg" alt=""></a>
    <a class="btn btn-outline-primary"  href=""><h1> Logout</h1></a>
    
    
        </nav>
    <div class="container backgroud-color theall">
        <div class="seperator">
            <div class="decor">
            
                    <form class="form text-white" action="/diagnostic" method="post">
                        <div><label class="big" for="region">region</label>
                            <select class="big" name="region" id="cars">
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                        <div>
                            <label class="big" for="body_part">body part</label>
                        <select class="big" name="body_part" id="cars">
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                        </div>
    
                        <div>
                            <label class="big" for="symptoms">symptoms</label>
                        <select class="big" name="symptoms" id="cars">
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                        </div>
                        
                        <div>
                            <label class="big" for="symptoms">Diagnostic</label>
                            <input class="big" type="submit" value="let's check">
                        </div>
                        
                        
    
                    </form>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Comments</label>
                    </div>
    
    
                
            </div>
            
            <div class="slide">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../static/images/head 1.jpeg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../static/images/head 2.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="../static/images/head 3.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                  </div>
                
            </div>




        </div>



</div>

    
</body>
</html>