<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Diagnose</title>


</head>
<body class="bg-secondary bg-opacity-10">
    <div class="container backgroud-color theall">
        <nav class="navbar navbar-light bg-light d-flex justify-content-between align-items-center">
    
    <a href="/home"><img class="logo" src="../static/images/logo.jpg" alt="logo"></a>
    <a class="btn btn-outline-primary"  href="/logout">Logout</a>
    
    
        </nav>
    <div class="container backgroud-color theall my-5">
        <div class="seperator">
            <div class="decor p-4 container">
            
                    <form class="form text-white d-flex flex-column gap-5" action="/region_body" method="post">
                        <div>
                            <label for="region">What is the nearest location to you?</label>

                            <select class="form-select  w-50" aria-label="Default select example" name="hospital_id" id="cars">
                            {% for hospital in hospitals %}
                            <option value="{{hospital.id}}">{{hospital.location}}</option>
                            {% endfor %}
                        
                            </select>
                        </div>
                        <div>
                            <label for="body_part">Tell us exactly what part of your body hurts?</label>
                        <select class="form-select  w-50" aria-label="Default select example" id="cars" name="categories_id">
                            {% for category in categories %}
                            <option value="{{category.id}}">{{category.name}}</option>
                            {% endfor %}

                        </select>

                        </div>
                        <div>
                            <input class="big btn btn-success" type="submit" value="Submit">
                        </div>
                    </form>

                    
    
    
                    
            </div>
                
                <div class="container">

                    <img class="slide" src="../static/images/{{card.photo}}" alt="hospital photo" class="d-block w-100">
                    
                </div>
            </div>
            <form action="/disease_diag" method="post">
                <label class="m-2" for="symptoms">symptoms</label>
            <select class="big form-select w-50 m-2" aria-label="Default select example"  name="id" id="symptoms">

                {% for disease in session['diseases'] : %}
                <option value="{{disease.id}}">{{disease.name}}</option>
                {% endfor %}

            </select>
            
            <div>
                <input class="big btn btn-success m-2" type="submit" value="let's check">
            </div>
        </form>
            </div>
        </div>
        {%if session['diseases'] and session['diseases_name'] : %}
        <div class="container w-50 border border-2 border-secondary my-5 p-2">
            <p>Dear Patient, You might suffering <span class="comment">{{session['diseases_name'].comment}}</span> We recommend you to visit our Doctor <a href="/diagnostic/doctor/{{session['doctor'].id}}">{{session['doctor'].first_name}}  {{session['doctor'].last_name}}</a> in Our Hospital {{session['hospital'].name}}</p>
            {% endif %}
        
    </div>



</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/admin_dashboard.js') }}"></script>
</body>
</html>