<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="..\static\css\home1.css">

</head>
<body>
    <div class="container backgroud-color theall">
        <nav class="navbar navbar-light bg-light d-flex justify-content-between">
    
    <a class="btn btn-primary"  href="">Home</a>
    <a class="btn btn-primary"  href="">Login</a>
    
        </nav>
        <div class="block1">
            <div class="category1">
                <a class="btn btn-primary"  href="">head sickness</a>
            


            </div>
            <div class="category2">
                <a class="btn btn-primary"  href="">back and abdominal sickness</a>
    


            </div>

        </div>
        <div class="block2">
            <div class="category3">
            <a class="btn btn-primary"  href="">skin sckness</a>
            </div>
            <div class="category4">
                <a class="btn btn-primary"  href="">legs and knees sickness</a>
                

            </div>

        </div>
        <div class="options">
            <button type="button" class="btn btn-info rounded-circle op text-white ci">hospitals</button>
            <button type="button" class="btn btn-info rounded-circle op text-white ci">doctors</button>
            <button type="button" class="btn btn-info rounded-circle op text-white ci">helpful links</button>
            
        </div>
        <div class="doc"></div>
        <div class="hos"></div>
        <div class="lin"></div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        

    </div>

    
</body>
</html>