<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>TV Shows</title>
</head>
<body>
    <div class="container mb-5 "><h1>TV Shows !</h1></div>
    <div class="container w-75 my-5 p-5 d-flex justify-content-between">
        
        <form action="/users/new" method="post" class="bg-dark text-white p-5 rounded w-50">
            {% with messages = get_flashed_messages(category_filter=["email"])  %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                    {% for message in messages %}            <!-- loop through the messages -->
                        <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="mb-3">
                <label for="fname" class="form-label">First Name:</label>
                <input type="text" name="first_name" class="form-control" id="fname">
            </div>
            <div class="mb-3">
                <label for="lname" class="form-label">Last Name:</label>
                <input type="text" name="last_name" class="form-control" id="lname">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email:</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password:</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword5" class="form-label">Confirm PW:</label>
                <input type="password" class="form-control" name="confirm_password" id="exampleInputPassword5">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>


        <form action="/login" method="post" class="bg-dark text-white p-5 rounded">
            {% with messages = get_flashed_messages(category_filter=["login"]) %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                    {% for message in messages %}            <!-- loop through the messages -->
                        <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <div class="mb-3">
                <label for="exampleInputEmail3" class="form-label">Email:</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword3" class="form-label">Password:</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword3">
            </div>
            <button type="submit" class="btn btn-primary">Log in</button>
        </form>
    </div>
</body>
</html>