.seperator{
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 40px;
    background-color: none;

}
.decor{
    background: linear-gradient(to right, #2b97f6, #629e90, #3c97a9, #09f1cf);
    height: 400px;
}
.slide {
    height: 400px;
}

