.seperator{
    display: flex;
    justify-content: space-between;
}
.form{
    height:400px;
    width: 400px;
    

}
.big{
    height: 40px;
    width: 120px;
    margin-left: 20px;
    margin-top: 10px;
}

.logo{
    height:60px;

}
.decor{
    background: linear-gradient(to right, #2b97f6, #629e90, #3c97a9, #09f1cf);
    height: 470px;
    width: 500px;
}